/*Apply a font family to the whole document, and then I can change certai elements individually.*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #d9dcd6;
}

/*header
I need the font-family different for the header so I will change it here.*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

#seo {
    color: #babdb8;
}

.h1 {
    display: inline-block;
    font-size: 48px;
}

/* fixing the position of the nav bar to the top of the screen, and floated to the right*/
nav {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 29px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

#hero {
    width: 100%;
    margin-bottom: 25px;
}

/*primary content. All primary content should be 75% of the page and inline block. consolidating sections into limited selectors.*/

main {
    width: 75%;
    margin-left: 20px;
    display: inline-block;
}
/*setting all the sections to have height 300. */
.main-content {
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 50px;
}

.content-images {
    max-height: 200px;
}

/*floating to the left and right*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
}

/*secondary content should take up 20% of the screen and be floated right.*/

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2a607c;
}

.secondary-content 
 {
    margin-bottom: 32px;
    color: #ffffff;
}

h3
{
    margin-bottom: 10px;
    text-align: center;
}

.secondary-content img
 {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*footer should be stuck to the bottom of the page, centered. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
